

@font-face {
    font-family: 'japonesa';
    src: url('fonts/jap/jap.ttf') format("truetype");
}
  
@font-face {
    font-family: 'jap';
    src: url('fonts/asia/jap.ttf') format("truetype");
}
  
@font-face {
    font-family: 'osaka';
    src: url('fonts/osaka/osaka.ttf') format("truetype");
}
  
@font-face {
    font-family: 'Wonder';
    src: url('fonts/Wonder/wonder.ttf') format("truetype");
}
  
  /*Barre de Nav*/
  
.logo {
    width: 150px; 
    height: 100px;
}  

.menu-droite {
    display: flex;
    justify-content: flex-end;    
}
    
.navbar-light .navbar-nav .nav-link {
    color: white;
}
    
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
    
.barre-blanche {
    margin-top: 8px;
    margin-left: 5px;
    color: white;
}
  
.dropdown-menu{
    background: DeepSkyBlue;
    color: white;
}

.dropdown-item{
    color: white;
}

.navbar{
    background: DeepSkyBlue;
    border-radius: 15%;
}
      
  /*Body*/

  .row img{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.row h4 {
    text
}


.row {
    text-align:center;
}
  
.col-10 {  
    margin: auto;     
}

body {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #D7DBDD;
}

  /*Ecritures*/
  
a {
    font-family: jap;
    font-size: 30px;
}
  
p {
    font-family: Wonder;
    font-size: 16px;
}
  
h1 {
    font-family: osaka;
    font-size: 70px;
    color: black;
    text-align: center; 
}
  
h2 {
    font-family: 'japonesa';
    font-size: 50px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: DeepSkyBlue;
}
  
h3 {
    font-family: osaka;
    color: grey;
    font-size: 15px;
    text-align: center;
}
  
h4 {
    font-family: osaka;
    text-decoration: underline;
    font-size: 20px;
}

li {
    font-family: Wonder;
    font-size: 20px;
}
    
  /*Footer*/
  
.basdepage {
    background-color: DeepSkyBlue;
    color: black;
    font-family: Japonesa;
    font-size: 30px;
    margin: 0px;
}

.logo-fin {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

